*{margin:0; padding:0; font-size:100%; font-weight:normal; vertical-align:baseline; background:transparent; border:none;}

/* --------------- */

body{
	background: White;
	color: Black;
	text-align: left;
	font-family: 'Source Code Pro', monospace;
	line-height: 1.6em;
	margin: auto;

	width: 990px;
	padding: 20px;
}

/* --------------- */

h1, h2, h3, p, ul, li, a{
	font-weight: normal;
}

h1, h2, h3 {
	margin-bottom: 1.0em;
    padding-bottom: 0.25em;
}

h1{
    font-size: 160%;
	border-bottom: 2px gray solid;
}

h2{
	font-size: 140%;
	border-bottom: 1px gray solid;
}

h3{
	font-size: 140%;
	border-bottom: 1px gray dashed;
}

p, li{
	font-size: 120%;
}

ul {
    margin-left: 1.5em;
}

hr{
	height: 1px;
	border: none;
	border-top: 1px #b3b3b3 dashed;
	margin: 0.5em 0;
}

img{
	object-fit: contain;
	object-position: center center;
	background-image: url(./transparent_tile.png);
	width: 240px;
	height: 180px;
}

/* --------------- */

header{
    margin-bottom: 20px;
}

article{
    margin-bottom: 20px;
}

footer{
	border-top: 1px #b3b3b3 solid;
}

/* --------------- */

a:link {
    color: steelblue;
}
a:visited {
    color: slategray;
}
a:hover {
    color: lightseagreen;
}

/* --------------- */

.small {
    font-size: 80%;
    color: gray;
}

.indexImages {
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    column-gap: 10px;
    row-gap: 0px;

	margin-bottom: 1.5em;
}

.indexImages p {
	font-size: 80%;
    color: gray;
}