body{
    font-family:    "Source Code Pro", "M PLUS Rounded 1c", monospace;
    font-size:      16px;
    font-weight:    300;
    line-height:    1.5em;
}

body::-webkit-scrollbar {
    display: none;
}

/* ------------------------------ */

article{
    width:          1280px;
    margin:         0 auto;
}
header{
    padding:        2.0em 0 1.0em;
    border-bottom:  1px black solid;
    margin-bottom:  4.0em;
}
footer{
    padding:        1.0em 0 2.0em;
    margin-top:     2.0em;
    border-top:     1px black solid;
}

/* ------------------------------ */

h1, h2, h3, p, ul, li, a{
    font-weight:    300;
}

h1{
    font-size:      1.0em;
}

h2{
    font-size:      1.5em;
    margin-top:     -1.5em;
    padding-bottom: 0.5em;
}

h3{
    font-size:      1.5em;
}

img, video{
    object-fit:         cover;
    object-position:    center center;
    background-image:   url(../asset/transparent_tile.png);
    width:              256px;
    height:             192px;
}

/* ------------------------------ */

a:link {
    color: #197fb3;
}
a:visited {
    color: #134c86
    ;
}
a:hover {
    color: #20bfdf;
    cursor: pointer;
}

/* ------------------------------ */

.log_images {    
    display:        grid;
    grid-template-columns: 256px 256px 256px 256px 256px;
    column-gap:     0px;
    row-gap:        16px;
}

.fw_500 {
    font-weight:    500;
}