body{
    font-family:    "Source Code Pro", "M PLUS Rounded 1c", monospace;
    font-size:      16px;
    font-weight:    300;
    line-height:    1.5em;
}

body::-webkit-scrollbar {
    display: none;
}

/* ----------------------------------------------- */


article{
    width:          1280px;
    margin:         0 auto;
}

header{
    padding-top:    2.0em;
    padding-bottom: 1.0em;
    border-bottom:  1px black solid;
    margin-bottom:  2.0em;
}

footer{
    margin-top:     2.0em;
    border-top:     1px black solid;
    padding-top:    1.0em;
    padding-bottom: 2.0em;
}


@media screen and (max-width: 768px) {
    article{
        width:          auto;
    }
    header{
        padding-top:    1.5em;
        padding-bottom: 1.5em;
        border-bottom:  1px black solid;
        margin-bottom:  1.5em;
    }
    footer{
        margin-top:     1.5em;
        border-top:     1px black solid;
        padding-top:    1.5em;
        padding-bottom: 1.5em;
    }
    h1, h2, h3 {
        font-size:      1.5em;
        padding-left:   0.5em;
    }
    p {
        padding-left:   0.25em;
    }
}

/* ----------------------------------------------- */

h1, h2, h3, p, ul, li, a{
    font-weight:    300;
}

h1{
    font-size:      1.0em;
}

h2, h3{
    font-size:      1.5em;
}

img, video{
    width:              100%;
    aspect-ratio:       4 / 3;
    object-fit:         cover;
    object-position:    center center;
    background-image:   url(../asset/transparent_tile.png);
    vertical-align:     bottom;
}

/* ----------------------------------------------- */

.bold {
    font-weight:        500;
}

.pixelated {
    image-rendering:    pixelated;
}

.no_img {
    aspect-ratio:       4 / 3;
    background-image:   url(../asset/transparent_tile.png);
}

.no_img img{
    image-rendering:    pixelated;
    aspect-ratio:       1;
    width:              64px;
    height:             auto;
}


/* ----------------------------------------------- */

a:link {
    color: #197fb3;
}
a:visited {
    color: #134c86
    ;
}
a:hover {
    color: #20bfdf;
    cursor: pointer;
}
