*{margin:0; padding:0; font-size:100%; font-weight:normal; vertical-align:baseline; background:transparent; border:none;}

body{
	background: White;
	color: Black;
	text-align: left;
	font-family: 'Source Code Pro', monospace;
	line-height: 1.5em;
	margin: auto;

	width: 480px;
	padding: 20px;
}

h1, h2, h3, p, ul, li, a{
	font-weight: normal;
}

h1{
	font-size: 150%;
}

h2{
	font-size: 125%;
}

p{
	font-size: 125%;
}

hr{
	height: 1px;
	border: none;
	border-top: 1px gray dashed;
	margin: 0.5em 0;
}

header{
	margin-bottom: 2.0em;
}

article{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2.0em;
}

section{
	margin-right: 2.0em;
}

footer{
	margin-bottom: 2.0em;
}

a:link {
    color: steelblue;
}
a:visited {
    color: slategray;
}
a:hover {
    color: lightseagreen;
}

.small {
	font-size: 80%;
}

.fl {
	float: left;
}

.clear {
	clear: both;
}

.sns-button {
	margin-bottom: 0.5em;
}