.pickup_images p{
    font-size:      0.75em;
    padding-top:    0.5em;
    padding-left:   0.5em;
    line-height:    1.0em;
    color:          #ffffff;
}

/* PC -------------------------------------------------- */

@media screen and (min-width:769px){
    h2 {
        height:                 2em;
        margin-bottom:          -2em;
        line-height:            1em;
        padding:                0.5em;
        z-index:                100;
        position:               relative;
    }

    .quarter {
        display:                grid;
        grid-template-columns:  20% 80%;
        column-gap:             0px;
        row-gap:                0px;
        z-index:                10;
        position:               relative;
        height:                 240px;
        margin-bottom:          16px;
        background-color:       #d0d0d0;
    }

    .quarter h3{
        display:                grid;
        place-content:          center;
        aspect-ratio:           4 / 3;
        background-color:       #f0f0f0;
    }

    .pickup_images {
        display:                grid;
        grid-template-columns:  25% 25% 25% 25%;
        column-gap:             0px;
        row-gap:                0px;
        height:                 240px;
        margin-bottom:          16px;
        background-color:       #202020;
    }
}

/* Mobile ---------------------------------------------- */

@media screen and (max-width: 768px) {
    h2 {
        background-color:       #f0f0f0;
        margin:                 1em 0;
    }

    .quarter {
        background-color:       #ffffff;
    }

    .quarter h3{
        margin:                 1em 0;
    }
    
    .pickup_images {
        aspect-ratio:           1;
        display:                grid;
        grid-template-columns:  50% 50%;
        grid-template-rows:     50% 50%;
        column-gap:             0px;
        row-gap:                0px;
        background-color:       #202020;
        color:                  #ffffff;
    }
}
