* {
    font-family:        "Source Code Pro", "Zen Maru Gothic", monospace;
    font-weight:        300;
    box-sizing:         border-box;
}

/* header, main, footer */
/* ------------------------------------------------------ */

body {
    font-size:          16px;
    line-height:        1.5em;
    scrollbar-width:    none;
}

body::-webkit-scrollbar {
    display:    none;
}

header, main, footer {
    width:      1280px;
    margin:     0 auto;
}

header {
    padding:                2.0em 0 1.0em 0;
    border-bottom:          1px black solid;
    margin-bottom:          3.0em;
    display:                grid;
    grid-template-columns:  80% 20%;
}

h1 {
    font-size:          1.0em;
}

.bold {
    font-weight:        500;
}

#logo {
    justify-self:       end;
    margin:             0 0.5em -2.0em 0;
    background-image:   none;
}

footer {
    margin-top:         2.0em;
    border-top:         1px black solid;
    padding:            1.0em 0 3.0em 0;
}

@media screen and (max-width: 768px) {
    header, main, footer {
        width:              auto;
    }
    header {
        padding:            1.5em 0 1.5em 0;
        margin-bottom:      0;
        
        h1 {
            font-size:      1.25em;
            padding-left:   0.5em;
        }
    }

    #logo {
        margin-right:       1.0em;
        height:             100%;
        width:              auto;
    }
    
    footer {
        margin-top:         0;
        
        p {
            padding-left:   0.5em;
        }
    }   
}

/* article .quarter_group */
/* ------------------------------------------------------ */

h2, h3 {
    font-size:  1.5em;
}

.quarter_group {
    display:                grid;
    column-gap:             0px;
    row-gap:                0px;
    grid-template-columns:  repeat(5, 256px);

    .quarter_title {
        display:            grid;
        place-content:      center;
        aspect-ratio:       4 / 3;
        background-image:   url(../asset/dot_tile.png);
        background-size:    16px;
        image-rendering:    pixelated;
    }

    figure {
        aspect-ratio:       1;
    }

    img, video {
        width:              100%;
        aspect-ratio:       4 / 3;
        object-fit:         cover;
        object-position:    center center;
        background-image:   url(../asset/dot_tile.png);
        background-size:    16px;
    }
    
    figcaption {
        font-size:          0.75em;
        padding:            0.5em 0 0 0.5em;
    }
}

.pixelated {
    image-rendering:    pixelated;
}

@media screen and (max-width: 768px) {
    .quarter_group {
        
        grid-template-columns:  repeat(2, 50%);
        
        .quarter_title {
            font-size:          1.5em;
        }
        figcaption {
            font-size:          1.0em;
            line-height:        1.5em;
        }
    }
}


/* link text */
/* ------------------------------------------------------ */

a:link {
    color:      #197fb3;
}
a:visited {
    color:      #134c86;
}
a:hover {
    color:      #20bfdf;
    cursor:     pointer;
}
