* {
    font-family:        "Source Code Pro", "Zen Maru Gothic", monospace;
    font-weight:        300;
    box-sizing:         border-box;
}

/* header, main, footer */
/* ------------------------------------------------------ */

html {
    scrollbar-width:    none;
}

body {
    font-size:          16px;
    line-height:        1.5em;
}

header, main, footer {
    width:      1280px;
    margin:     0 auto;
}

header {
    padding:                2.0em 0 1.0em 0;
    border-bottom:          1px black solid;
    margin-bottom:          2.0em;
    display:                grid;
    grid-template-columns:  80% 20%;
}

h1 {
    font-size:          1.0em;
}

.bold {
    font-weight:        500;
}

#logo {
    justify-self:       end;
    margin:             0 0.5em -2.0em 0;
    background-image:   none;
}

footer {
    margin-top:         2.0em;
    border-top:         1px black solid;
    padding:            1.0em 0 3.0em 0;
}

@media screen and (max-width: 768px) {
    header, main, footer {
        width:              auto;
    }

    header {
        padding:            1.5em 0 1.5em 0;
        margin-bottom:      0;
        
        h1 {
            font-size:      1.25em;
            padding-left:   1.0em;
        }
    }

    #logo {
        margin-right:       1.0em;
        height:             100%;
        width:              auto;
    }
    
    footer {
        margin-top:         0;
        
        p {
            padding-left:   1.0em;
        }
    }   
}

/* article .quarter_group */
/* ------------------------------------------------------ */

h2, h3 {
    font-size:  1.5em;
}

h2 {
    text-align: left;
    height:     0em;
    padding-left: 1.0em;
}

h3 {
    text-align: center;
}

.quarter_group {
    display:                grid;
    column-gap:             0px;
    row-gap:                0px;
    grid-template-columns:  repeat(5, 256px);

    .quarter_title {
        aspect-ratio:       4 / 3;
        background-image:   url(../asset/dot_tile.png);
        background-size:    16px;
        image-rendering:    pixelated;
        align-content:      center;
    }
    
    figure {
        aspect-ratio:       1;
    }

    img, video {
        display: block; /* または display: inline-block; */
        width:              100%;
        aspect-ratio:       4 / 3;
        object-fit:         cover;
        object-position:    center center;
        background-image:   url(../asset/dot_tile.png);
        background-size:    16px;
    }
    
    figcaption {
        font-size:          0.75em;
        line-height:        1.5em;
        padding:            0.5em 0 0 0.5em;
    }
}

.pixelated {
    image-rendering:    pixelated;
}

.no_img {
    aspect-ratio:       4 / 3;
    background-image:   url(../asset/dot_tile.png);
    background-size:    16px;
    image-rendering:    pixelated;
    align-content:      center;
    
    img{
        object-fit:     contain;
        height:         128px;
    }
}

@media screen and (max-width: 768px) {
    h2, h3 {
        align-content:      center;
    }
    .quarter_group {
        grid-template-columns:  repeat(2, 50%);
        
        .quarter_title {
            grid-column:        span 2;
            aspect-ratio:       10 / 1;
            font-size:          1.0em;
            margin-bottom:      1em;
        }
        
        figcaption {
            line-height:        1.25em;
            text-align:         center;
            padding:            0;
        }
    }
}


/* link text */
/* ------------------------------------------------------ */

a:link {
    color:      #197fb3;
}
a:visited {
    color:      #134c86;
}
a:hover {
    color:      #20bfdf;
    cursor:     pointer;
}
