.log_images {
    display:        grid;
    column-gap:     0px;
    row-gap:        0px;
}

.log_images p {
    font-size:      0.75em;
    padding-top:    0.5em;
    padding-left:   0.5em;
    line-height:    1.0em;
    color:          #ffffff;
}

/* PC -------------------------------------------------- */

@media screen and (min-width:769px) {
    .log_images {
        grid-template-columns:  repeat(5, 20%);
        grid-auto-rows:         256px;
        background-color:       #202020;
    }
    .log_images h2 {
        aspect-ratio:           4 / 3;
        background-color:       #f0f0f0;
        line-height:            1em;
        padding:                0.5em;
    }
}

/* Mobile ---------------------------------------------- */

@media screen and (max-width: 768px) {
    .log_images {
        grid-template-columns:  repeat(2, 1fr);
        background-color:       #f0f0f0;
    }
    .log_images h2 {
        background-color:       #f0f0f0;
        padding:                1.0em;
    }
    .log_images section {
        aspect-ratio:           1;
        background-color:       #202020;
    }
}