.log_images p{
    font-size:      0.75em;
    padding-top:    0.5em;
    padding-left:   0.5em;
    line-height:    1.0em;
    color:          #ffffff;
}

.log_images p a:link {
    color:          #4dc3ff;
}
.log_images p a:visited {
    color:          #4ca4fc;
}
.log_images p a:hover {
    color:          #40dfff;
    cursor:         pointer;
}

.log_images{
    display:        grid;
    column-gap:     0px;
    row-gap:        0px;
}

/* PC ------------------------------ */

@media screen and (min-width:769px){
    .log_images {
        grid-template-columns:  repeat(5, 20%);
        grid-auto-rows:         256px;
        background-color:       #282828;
    }
    .log_images h2{
        aspect-ratio:           4 / 3;
        background-color:       #f0f0f0;
        line-height:            1em;
        padding:                0.5em;
    }
}


/* Mobile ------------------------------ */

@media screen and (max-width: 768px) {
    .log_images {
        grid-template-columns:  repeat(2, 1fr);
        background-color:       #f0f0f0;
    }
    .log_images h2 {
        background-color:       #f0f0f0;
        padding:                0.5em;
    }
    .log_images section {
        aspect-ratio:           1;
        background-color:       #282828;
    }
}