h2{
	border-bottom: 1px lightgray dashed;
}

#log_images{    
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    column-gap: 13px;
    row-gap: 0px;
	margin-bottom: 1.5em;
}

img, video{
	background-image: url(./transparent_tile.png);
	width: 240px;
	height: 180px;
}

section{
	margin-bottom: 0.5em;
}
