*{margin:0; padding:0; font-size:100%; font-weight:normal; vertical-align:baseline; background:transparent; border:none;}

body{
	background: White;
	color: Black;
	text-align: left;
	font-family: 'Source Code Pro', monospace;
	line-height: 1.5em;
	margin: auto;

	width: 1000px;
	padding: 20px;

	@media (max-width: 480px) {
		width: 322px;
		padding: 10px 20px;
	}
}

h1, h2, h3, p, ul, li, a{
	font-weight: normal;
}

h1{
	font-size: 150%;
}

h2{
	font-size: 100%;
	margin: 1.5em 0;
}

p{
	font-size: 75%;
}

ul{
	font-size: 75%;
	padding-left: 1.5em;
}

img{
	/*
	border: 1px lightgray dashed;
	vertical-align: bottom;
	object-fit: cover;
	*/
	object-fit: contain;
	object-position: center center;
	background-image: url(./transparent_tile.png);

	width: 240px;
	height: 180px;

	@media (max-width: 480px) {
		width: 240px;
		height: 180px;
	}
}

hr{
	height: 1px;
	border: none;
	border-top: 1px lightgray dashed;
}

header{
	margin-bottom: 2em;
}

article{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1em;
}

section{
	margin-bottom: 0.5em;
}

footer{
	margin-bottom: 1em;
}

a:link {
    color: steelblue;
}
a:visited {
    color: slategray;
}
a:hover {
    color: lightseagreen;
}

.small {
	font-size: 70%;
}
